<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
{% include "header.html" %}
<div class="container">
    <h2>줄임말 Abbreviation</h2>
    <h4>신조어, 줄임말, 유행어를 포함한 요즘 단어들</h4>
<br>
    {% include "줄임말1.txt" %}
</div><br><br><br>
<div align="center"><a href="Abbreviation"><button type="button" class="btn btn-outline-primary">1</button></a>
<a href="A2"><button type="button" class="btn btn-outline-primary">2</button></a></div>
<div  style="background-color:#000002; margin-top:100px">
{% include "footer.html" %}></div>

</body>
</html>
