<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!--웹폰트-->
    <style>
@font-face {
    font-family: 'NEXON Lv2 Gothic Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
    *{font-family: 'NEXON Lv2 Gothic Light.woff'}

    /*캐러셀 버튼의 그라데이션 없애기*/
    .carousel-control{background: none !important;}
</style>
</head>
<body>
{% include "header.html" %}
    <div class="container">
        <h2>[단사신유속] 이용 안내</h2><br><p align="right">작성자: 관리자</p>
        <p> [단사신유속]은 단어, 고사성어, 속담, 줄임말, 관용어  등 알아두면 좋은 단어&말 등을 모아둔 사이트 입니다.<br><br>
            1. 알고싶거나 궁금한 단어의 종류를 선택 후<br>
            2. 찾으시면 됩니다<br><br>
            ※별도로 로그인을 하지 않으셔도 이용이 가능합니다.<br>
            ※문의는 아래에 보이시는 관리자 SNS계정으로 부탁드립니다!
            <br><br>
            감사합니다 :D
        </p>
        <div align="right">

        <a href="board"><button type="button" class="btn btn-outline-primary">공지 게시판으로 이동</button></a></div>
</div>
<div  style="background-color:#000002; margin-top:100px">
{% include "footer.html" %}></div>
</body>
</html>