<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<script language="JavaScript">

</script>
</head>
<body>
{% include "header.html" %}
<div class="container">
    <h2>고사성어 Idiomatic phrase</h2>
    <h4>일생활에서도 자주 사용되는</h4>
<br>
    <div><a href="Idiomatic"><button type="button" class="btn btn-outline-primary">ㄱ</button></a>
<a href="I2"><button type="button" class="btn btn-outline-primary">ㄴ</button></a>
<a href="I3"><button type="button" class="btn btn-outline-primary">ㄷ</button></a>
<a href="I4"><button type="button" class="btn btn-outline-primary">ㄹ</button></a>
<a href="I5"><button type="button" class="btn btn-outline-primary">ㅁ</button></a>
<a href="I6"><button type="button" class="btn btn-outline-primary">ㅂ</button></a>
<a href="I7"><button type="button" class="btn btn-outline-primary">ㅅ</button></a>
<a href="I8"><button type="button" class="btn btn-outline-primary">ㅇ</button></a>
<a href="I9"><button type="button" class="btn btn-outline-primary">ㅈ</button></a>
<a href="I10"><button type="button" class="btn btn-outline-primary">ㅊ</button></a>
<a href="I11"><button type="button" class="btn btn-outline-primary">ㅋ</button></a>
<a href="I12"><button type="button" class="btn btn-outline-primary">ㅌ</button></a>
        <a href="I13"><button type="button" class="btn btn-outline-primary">ㅍ</button></a>
<a href="I14"><button type="button" class="btn btn-outline-primary">ㅎ</button></a></div>

    <br>
    {% include "고사성어ㅎ.txt" %}
</div><br><br><br>
<div  style="background-color:#000002; margin-top:100px">
{% include "footer.html" %}></div>

</body>
</html>