<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
{% include "header.html" %}
<div class="container">
    <h2>관용어 Idiom</h2>
    <h4>단어가 다는 아니니까. 표현을 더 풍부하게!</h4>
<br>
    <div><a href="Idiom"><button type="button" class="btn btn-outline-primary">ㄱ</button></a>
<a href="Id2"><button type="button" class="btn btn-outline-primary">ㄴ</button></a>
<a href="Id3"><button type="button" class="btn btn-outline-primary">ㄷ</button></a>
<a href="Id4"><button type="button" class="btn btn-outline-primary">ㄹ</button></a>
<a href="Id5"><button type="button" class="btn btn-outline-primary">ㅁ</button></a>
<a href="Id6"><button type="button" class="btn btn-outline-primary">ㅂ</button></a>
    <a href="Id7"><button type="button" class="btn btn-outline-primary">ㅅ</button></a>
    <a href="Id8"><button type="button" class="btn btn-outline-primary">ㅇ</button></a>
    <a href="Id9"><button type="button" class="btn btn-outline-primary">ㅈ</button></a>
    <a href="Id10"><button type="button" class="btn btn-outline-primary">ㅊ</button></a>
        <a href="Id11"><button type="button" class="btn btn-outline-primary">ㅋ</button></a>
        <a href="Id12"><button type="button" class="btn btn-outline-primary">ㅌ</button></a>
        <a href="Id13"><button type="button" class="btn btn-outline-primary">ㅍ</button></a>
        <a href="Id14"><button type="button" class="btn btn-outline-primary">ㅎ</button></a></div>

    <br>
    {% include "관용어ㅈ.txt" %}
</div><br><br><br>
<div  style="background-color:#000002; margin-top:100px">
{% include "footer.html" %}></div>

</body>
</html>