<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
{% include "header.html" %}
<div class="container">
    <h2>고사성어 Idiomatic phrase</h2>
    <h4>일생활에서도 자주 사용되는</h4>
<br>
    {% include "고사성어.txt" %}
</div><br><br><br>
<div align="center"><a href="Idiomatic"><button type="button" class="btn btn-outline-primary">1</button></a>
<a href="I2"><button type="button" class="btn btn-outline-primary">2</button></a></div>
<div  style="background-color:#000002; margin-top:100px">
{% include "footer.html" %}></div>

</body>
</html>
