<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!--웹폰트-->
    <style>
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
    *{font-family: 'NEXON Lv1 Gothic OTF Bold'}

    /*캐러셀 버튼의 그라데이션 없애기*/
    .carousel-control{background: none !important;}
</style>
</head>
<body>
{% include "header.html" %}
{% load static %}


    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">

        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slie-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slie-to="1"></li>
            <li data-target="#myCarousel" data-slie-to="2"></li>
        </ol>

        <div class="carousel-inner">
            <div class="item active">
                <a href="#"><img src="{% static '1.png' %}" class="img-responsive center-block" width="1000px"></a>
            </div>
            <div class="item">
                <a href="#"><img src="{% static '1.png' %}" class="img-responsive center-block" width="1000px"></a>
            </div>
            <div class="item">
                <a href="#"><img src="{% static '1.png' %}" class="img-responsive center-block" width="1000px"></a></div>

        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-cheyron-left"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-cheyron-right"></span>
        </a>
    </div><br><br><br><br><br>
    <div align="center">
    <h2>이 사이트는</h2>
    <h4>설명<br>
        설명<br>
        설명<br>
        설명<br>
        설명<br>
        설명<br>
        설명<br>
    </h4></div>

    <br><br><br><br><br>

    <table align="center" >
        <tr ><td><img src="{% static 'p1.png' %}" width="200px;" style="padding:10px;" ></td>
        <td><img src="{% static 'p2.png' %}" width="200px;" style="padding:10px;"></td>
        <td><img src="{% static 'p3.png' %}" width="200px;" style="padding:10px;"></td>
        <td><img src="{% static 'p4.png' %}" width="200px;" style="padding:10px;"></td>
            <td><img src="{% static 'p5.png' %}" width="200px;" style="padding:10px;"></td></tr>


        <tr style="font-size:35px; text-align:center">
        <td><a href="#">단어</a></td>
        <td><a href="#">사자성어</a></td>
        <td><a href="#">속담</a></td>
        <td><a href="#">줄임말</a></td>
        <td><a href="#">유행어</a></td></tr>

        <tr style="font-size:15px; text-align:center">
        <td>ㄷㅏㄴㅇㅓ</td>
        <td>사자성어</td>
        <td>속담</td>
        <td>줄임말</td>
        <td>유행어</td></tr>
    </table>


<br><br><br><br><br>

    <div align="center"><img src="{% static 'l.png' %}"></div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>