<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include "header.html" %}
<div class="container">
    <h2>속담 Proverb</h2>
    <h4>항상 아는 속담만 사용하는 당신을 위해</h4>
    <nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="검색" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">검색</button>
  </form>
</nav>
<br>
    {% include "속담.txt" %}
</div><br><br><br>
<div align="center"><a href="Proverb"><button type="button" class="btn btn-outline-primary">1</button></a>
<a href="P2"><button type="button" class="btn btn-outline-primary">2</button></a></div>
<div  style="background-color:#000002; margin-top:100px">
{% include "footer.html" %}></div>

</body>
</html>
