<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
{% include "header.html" %}
<div class="container">
    <h2>단어 Word</h2>
    <h4>50만개가 넘는 한국어 단어. 이런 단어도 있었군요?</h4>
<br>
    <div><a href="word"><button type="button" class="btn btn-outline-primary">ㄱ</button></a>
<a href="W2"><button type="button" class="btn btn-outline-primary">ㄴ</button></a>
<a href="W3"><button type="button" class="btn btn-outline-primary">ㄷ</button></a>
<a href="W4"><button type="button" class="btn btn-outline-primary">ㄹ</button></a>
<a href="W5"><button type="button" class="btn btn-outline-primary">ㅁ</button></a>
<a href="W6"><button type="button" class="btn btn-outline-primary">ㅂ</button></a>
    <a href="W7"><button type="button" class="btn btn-outline-primary">ㅅ</button></a>
    <a href="W8"><button type="button" class="btn btn-outline-primary">ㅇ</button></a>
    <a href="W9"><button type="button" class="btn btn-outline-primary">ㅈ</button></a>
    <a href="W10"><button type="button" class="btn btn-outline-primary">ㅊ</button></a>
        <a href="W11"><button type="button" class="btn btn-outline-primary">ㅋ</button></a>
        <a href="W12"><button type="button" class="btn btn-outline-primary">ㅌ</button></a>
        <a href="W13"><button type="button" class="btn btn-outline-primary">ㅊ</button></a>
        <a href="W14"><button type="button" class="btn btn-outline-primary">ㅎ</button></a></div>

    <br>
    {% include "단어ㄷ.txt" %}
</div><br><br><br>
<div  style="background-color:#000002; margin-top:100px">
{% include "footer.html" %}></div>

</body>
</html>